extends ../../layout

block content
  div.row
    div.col-md-6
      form(action="/problem", method="post")
        h2.form-signin-heading #{i18n.__("Start Quarrel")}
        p
          strong #{i18n.__("After you add the problem you will be asked to confirm it by clicking the link we will send you on your email.")}
        div.form-group
          input.form-control(name="subject", type="text", placeholder=i18n.__("Subject"), required)
        div.form-group
          textarea.form-control(name="problem", placeholder=i18n.__("Problem"), rows="10" required)
          small #{i18n.__("Please, do not use HTML tags for formatting purpose.")}
        div.form-group
          input.form-control(name="name", type="text", placeholder=i18n.__("First name and last name") required)
          small #{i18n.__("Field \"First name and last name\" will not be displayed.")}
        div.form-group
          input.form-control(name="email", type="email", placeholder=i18n.__("E-mail") required)
          small #{i18n.__("Field \"E-mail\" will not be displayed.")}
        button.btn.btn-large.btn-primary(type="submit") #{i18n.__("Ask")}